.headerContainer {
  /* position: absolute; */
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: white;

  .logo {
    font-size: 44px;
    user-select: none;
  }
}

.absoluteAndTransparent {
  position: absolute;
  background-color: transparent;
}

.relativeAndBlack {
  position: relative;
  background-color: black;
}

nav {
  display: flex;
  justify-content: center;
  z-index: 999;
  user-select: none;

  .link {
    padding: 0 10px;
  }
}