@use "@/config/styles/const.module.scss" as *;

.descriptionContainer {
  height: $fullHeight;
  display: flex;
  flex-direction: row;
}

.descriptionImgContainer, 
.descriptionTextContainer {
  width: 50%;
}

.descriptionTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 200px;
}

.descriptionTextTitle {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 40px;
}

.descriptionTextAdd {

}

.descriptionImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}