.footerContainer {
  height: 100vh;
  background-color: #fff7a6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerList {
  display: flex;
  justify-content: center;
  background: black;
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 20px 0px;
}

.footerListItem {
  padding: 0 50px;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  user-select: none;
}

.footerLogo {
  font-size: 500px;
  line-height: 510px;
  user-select: none;
}