.mainContainer {
  height: 100vh;
  overflow: hidden;
}

.bannerInfo {
  position: absolute;
  width: 100%;
  margin-top: 220px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: white;

  .title {
    font-size: 100px;
    text-transform: uppercase;
    
  }
  
  .description {
    font-size: 25px;
  }

  .buttonContainer {
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;

    button {
      background-color: white;
      padding: 8px 20px;
      border-radius: 50px;
      font-weight: 500;
    }
  }
  
}

