.mainContainer {
  height: 100vh;
  overflow: hidden;
}

.bannerInfo {
  position: absolute;
  width: 100%;
  margin-top: 22  0px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: white;

  .title {
    font-size: 100px;
    text-transform: uppercase;
    
  }
  
  .description {
    font-size: 20px;
  }
}

